name = "typecheck-service"
main = "src/server.ts"
compatibility_date = "2023-10-16"

account_id = "" 
workers_dev = true

[[r2_buckets]]
binding = "TYPEDEFS" # <~ valid JavaScript variable name
bucket_name = ""
